* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






.top {
    background-color: aquamarine;
    height: 100px;

    display: flex;
    justify-content: center;

}

.container {
    height: 50px;
    width: 10%;
    border: 1px solid black;
    margin-top: 20px;
    background-color: yellow;

}

.container2 {
    height: 50px;
    width: 30%;
    border: 1px solid black;
    margin-top: 20px;
    background-color: yellow;

}

.container3 {
    height: 50px;
    width: 10%;
    border: 1px solid black;
    margin-top: 20px;
    background-color: yellow;

}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 400px;
   }


.box{
    width: 35%;
    height: 70%;
    background-color: purple;
}

.container4{
    background-color: orange;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box2{
    width: 25%;
    height: 70%;
    background-color: black;
}

.box3{
    width: 15%;
    height: 70%;
    background-color: green;
}


.container5{
    background-color: grey;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box4{
    width: 15%;
    height: 70%;
    background-color: black;
}

.box5{
    width: 25%;
    height: 70%;
    background-color: green;
}


.container6{
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box6{
    width: 25%;
    height: 70%;
    background-color: blue;
}

.box7{
    width: 15%;
    height: 70%;
    background-color: crimson;
}

.box-max{
    background-color: purple;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box8{
    width: 40%;
    height: 90%;
    background-color: crimson;
}
footer{
    background-color: black;
}


.footer-top{
    background-color: orange;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container7{
    width: 40%;
    height: 70%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

.colonna1{
    width: 35%;
    border: 1px dotted white;
    height: 100%;
    
    
}

.mini-colonna{
    width: 20%;
    border: 1px dotted aqua;
    height: 100%;

}